body {
   background-image: url('https://th.bing.com/th/id/OIP.LsRK4FJyhYmb2m42HZaqiAHaE8?pid=ImgDet&rs=1');
   height: 100%;
   margin: 0;
   padding: 0;
}

h1 {
   font-size: 2rem;
   text-align: center;
   font-stretch: expanded;
   color: beige;
   margin: 0;
   position: relative;
}

h2 {
   font-size: 1.5rem;
   text-align: center;
}

h3 {
   font-size: 1rem;
   display: list-item;
   margin: 0;
   padding: 0;
}

#building {
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   width: 55%;
   height: 80%;
   background-color:aliceblue;
   border: solid 1px black;
   border-radius: 5px;
   position: absolute;
   overflow: hidden;
   margin: 0 auto;
   left: 50%;
   bottom: 0;
   transform: translateX(-50%);
}

.floor {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(81, 53, 19);
   width: 100%;
   height: 20%;
   border-bottom: 1px solid #999;
   position: relative;
   z-index: 1;
}

.elevator {
   width: 20%;
   height: 25%;
   background-color: #b27575;
   margin: 20px;
   margin-bottom: 0px;
   position: relative;
   z-index: 2;
}

.shaft {
   width: 20%;
   margin: 20px;
   justify-content: center;
   background-color: #555;
   height:100%;
   margin-bottom: 0px;
   position: relative;
   z-index: 0;
}

#controls {
   width: 20%;
   color: beige;
   min-width: 150px;
   height: 250px;
   background: rgba(255, 255, 255, 0.202);
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.716);
   backdrop-filter: blur(2.5px);
   -webkit-backdrop-filter: blur(2.5px);
   text-align: center;
   border-radius: 10px;
   align-items: center;
   position: absolute;
   left: 10px;
   top: 60px;
}

#direction-buttons {
   text-align: center;
   display:flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
}

#dropdown {
   width: 80%;
   text-align: center;
   font-size: x-small;
   padding: 10px;
}

#floor-dropdown {
   text-align: center;
   margin-top: 10px;
}

label {
   text-align: center;
   align-items: center;
   font-size: 0.9rem;
   margin-top: 5px;
 }

#floors-buttons {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap:10px;
   padding: 1px;
   background-color: #f2f2f2;
   font-size: 0.9rem;
   margin-top: 10px;
}

#settings {
   width:17%;
   min-width: 20px;
   height: 50%;
   color: beige;
   background: rgba(255, 255, 255, 0.202);
   box-shadow: 0 4px 30px rgba(88, 86, 86, 0.981);
   backdrop-filter: blur(2px);
   -webkit-backdrop-filter: blur(2.5px);
   position: absolute;
   right: 10px;
   top:60px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   border-radius: 10px;
   align-items: center;
   text-align: center;
}

#num-floors {
   width: 70%;
   font-size: 0.9rem;
   padding: 1px;
   margin-top: 1px;
   text-align: center;
}

#num-elevators {
   width: 70%;
   text-align: center;
   margin: 1px;
   font-size: 0.9rem;
   margin-top: 1px;
}

#start-btn {
   margin:5px;
   font-size: 0.9rem;
}
